build/*
images/*
scenes/*
.DS_Store
.DS_Store?
.vscode/*

headers/lights.h
headers/materials.h
headers/objects.h
headers/photonmap.h
headers/renderer.h
headers/rng.h
headers/scene.h
headers/texture.h
headers/xmlload.h
src/texture.cpp
src/viewport.cpp
src/xmlload.cpp
